body {
  margin: 0px;
  background-color: #0b0e60;
  text-align: center;
}

.input {
}

.caixa {
  width: 40%;
  margin: auto;
  background-color: #27d1d6;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 2%;
}
.h2 {
  margin-top: 0;
}
